# Python
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
desktop.ini
ehthumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Distribuzione
*.zip
*.tar.gz
